/balena-etcher-electron
/Code
/Code\ -\ OSS
/drawpile
/easyeffects
/Electron
/figma-linux
/flutter
/gconf
/dconf
/GIMP
/Github\ Desktop
/google-chrome
/htop
/inkspace
/JetBrains
/kde.org
/lazygit
/libreoffice
/menus
/MongoDB\ Compass
/mpv
/nautilus
/nitrogen
/Postman
/procps
/protonvpn
/pulse
/qBittorrent
/Sandbox Interactive GmbH
/session
/spotify
/styluslabs
/TabNine
/termite
/Thunar
/torbrowser
/unity3d
/vlc
/wireshark
/xfce4
/yay
dolphinrc
EOS-greeter.conf
eos-update-notifier.first_init
knfshare
mimeapps.list
QtProject.conf
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
